#!/bin/sh

# first unregister all of the runners
{{ gitlab_runner_link }} unregister --all-runners

# re-register those runners...
{% if 'runners' in gitlab_runner_reregister %}
{% for r in gitlab_runner_reregister.runners %}
{{ gitlab_runner_link }} \
  register -n \
  --url=https://{{ gitlab_runner_reregister.gitlab_hostname }} \
  --registration-token={{ gitlab_runner_reregister.registration_token }} \
  --limit={% if r.limit is defined %}{{ r.limit }}{% else %}{{ gitlab_runner_concurrent_runners_per_host | default(0) }}{% endif %} \
  --locked={% if r.locked is defined %}{{ r.locked }}{% else %}false{% endif %} \
  {% if r.tls_ca_file is defined %}--tls-ca-file {{ r.tls_ca_file }}{% endif %} \
  {% if r.tls_cert_file is defined %}--tls-cert-file {{ r.tls_ca_file }}{% endif %} \
  {% if r.tls_key_file is defined %}--tls-key-file {{ r.tls_ca_file }}{% endif %} \
  {% if r.env is defined %}{% for k, v in r.env.items() %}--env {{ k }}={{ v }} \
  {% endfor %}{% endif %} \
  {% if r.docker_image is defined %}--docker-image={{ r.docker_image }} \
  {% endif %} \
  {% if r.docker_wait_for_services_timeout is defined %}--docker-wait-for-services-timeout={{ r.docker_wait_for_services_timeout }} \
  {% endif %} \
  {% if r.docker_privileged is defined and r.docker_privileged | bool %}--docker-privileged \
  {% endif %} \
  {% if r.docker_volumes is defined %} \
  {% for v in r.docker_volumes %}--docker-volumes={{ v }} \
  {% endfor %} \
  {% endif %} \
  --tag-list={{ r.tags | join(",") }} \
  {% if r.cache_type is defined %}--cache-type={{ r.cache_type }}{% endif %} \
  {% if r.cache_shared is defined %}--cache-shared \
  {% if r.cache_shared.s3 is defined %} \
  {% if r.cache_shared.s3.server_address is defined %}--cache-s3-server-address={{ r.cache_shared.s3.server_address }}{% endif %} \
  {% if r.cache_shared.s3.access_key is defined %}--cache-s3-access-key={{ r.cache_shared.s3.access_key }}{% endif %} \
  {% if r.cache_shared.s3.secret_key is defined %}--cache-s3-secret-key={{ r.cache_shared.s3.secret_key }}{% endif %} \
  {% if r.cache_shared.s3.bucket_name is defined %}--cache-s3-bucket-name={{ r.cache_shared.s3.bucket_name }}{% endif %} \
  {% if r.cache_shared.s3.bucket_location is defined %}--cache-s3-bucket-location={{ r.cache_shared.s3.bucket_location }}{% endif %} \
  {% if r.cache_shared.s3.insecure is defined and r.cache_shared.s3.insecure | bool %}--cache-s3-insecure{% endif %} \
  {% elif r.cache_shared.gcs is defined %} \
  {% if r.cache_shared.gcs.access_id is defined %}--cache-gcs-access-id={{ r.cache_shared.gcs.access_id }}{% endif %} \
  {% if r.cache_shared.gcs.private_key is defined %}--cache-gcs-private-key={{ r.cache_shared.gcs.private_key }}{% endif %} \
  {% if r.cache_shared.gcs.credentials_file is defined %}--cache-gcs-access-id={{ r.cache_shared.gcs.access_id }}{% endif %} \
  {% if r.cache_shared.gcs.bucket_name is defined %}--cache-gcs-access-id={{ r.cache_shared.gcs.access_id }}{% endif %} \
  {% endif %} \
  {% endif %} \
  --executor={{ r.executor }}

{% endfor %}
{% endif %}
